## Useful Websites 
- Survey - https://forms.gle/5FTqVZVta4o3m4xx5
- W3School - https://www.w3schools.com
- Python - https://www.python.org/
- Bootstrap - https://getbootstrap.com/
- Django - https://www.djangoproject.com/
- JQuery - http://jquery.com/ 
- Popper - http://popper.js.org

## Definitions: 
- __*<font color=blue>Algorithm</font>*__ : `A strategy for solving a problem (informal definition)`
    - Example: sorting, searching, ...
- __*<font color=blue>Data Structure</font>*__: `Specialized format of organizing and storing data`
    - Example: list, array, dictionary, arraylist, ...
- __*<font color=blue>Computer Science</font>*__ : `A branch of science that deals with the theory of computation or the design of computers`
- __*<font color=blue>Variable</font>*__ : `Something that changes`
    - Example: __name__ is avariable because people have different names
        - name = Joe 
        - name = Betty 
- __*<font color=blue>Function</font>*__ : `Is a block of code which only runs when it is called`

<hr>

## Special Characters: 
<hr>
<style>
<!-- table{
	width: 100%; 
    text-align: left; 
    
} -->

<!-- td, th {
	boder: 1px solid #dddddd; 
    text-align: left; 
    padding: 8px; 
}
 -->
<!-- tr:nth-child(even){
	background-color: #dddddd
} -->
</style>

<table class="table"><font>
  <tr>
    <th>Character</th>
    <th>Name</th> 
    <th>Description</th>
  </tr>
  <tr>
    <td>#</td>
    <td>Pound</td>
    <td>Marks the beginning of a comment</td>
  </tr>
  <tr>
    <td>" " or ' '</td>
    <td>Double and or single closing quotation marks</td>
    <td>Encloses a string of characters, such as a message that is to be printed on the screen. </td>
  </tr>
  <tr>
    <td>\n</td>
    <td>Newline</td>
    <td>Causes the cursor to go to the next line for subsequent printing</td>
  </tr>
  <tr>
    <td>\t</td>
    <td>Horizontal tab</td>
    <td>Causes the cursor to skip over to the next tab stop</td>
  </tr>

</font></table>

<hr>

## Arithmetic Operators 
<hr>
<style>
table{
	width: 100%; 
    text-align: left; 
}
td, th {
	boder: 1px solid #dddddd; 
    text-align: left; 
    padding: 8px; 
}

tr:nth-child(even){
	background-color: #dddddd
}
</style>

<table>
  <tr>
    <th>Operator</th>
    <th>Meaning</th> 
    <th>Example</th>
  </tr>
  <tr>
    <td>+</td>
    <td>Addition</td>
    <td>total = cost + tax</td>
  </tr>
  <tr>
    <td>-</td>
    <td>Subtraction</td>
    <td>cost = total - tax</td>
  </tr>
  <tr>
    <td>*</td>
    <td>MultiplicationSubtraction</td>
    <td>tax = cost * rate</td>
  </tr>
  <tr>
    <td>/</td>
    <td>Division</td>
    <td>SalePrice = originalPrice / 2</td>
  </tr>
  <tr>
    <td>%</td>
    <td>Modulus</td>
    <td>remainder = value % 3</td>
  </tr>

</table>

<hr> 

## Relational Operators 
<hr> 
<style>
table{
	width: 100%; 
    text-align: left; 
}
td, th {
	boder: 1px solid #dddddd; 
    text-align: left; 
    padding: 8px; 
}

tr:nth-child(even){
	background-color: #dddddd
}
</style>

<table>
  <tr>
    <th>Relational Operator</th>
    <th>Meaning</th> 
    <th>Example</th>
  </tr>
  <tr>
    <td>></td>
    <td>Greater than</td>
    <td>x > y</td>
  </tr>
  <tr>
    <td><</td>
    <td>Less than</td>
    <td>x < y</td>
  </tr>

  <tr>
    <td>>=</td>
    <td>Greater than or equal to</td>
    <td>x >= y</td>
  </tr>
  <tr>
    <td> < = </td>
    <td>Less than or equal to</td>
    <td>x < = y</td>
  </tr>
  <tr>
    <td>==</td>
    <td>Equal</td>
    <td>x == y</td>
  </tr>
  <tr>
    <td>!=</td>
    <td>Not equal to</td>
    <td>x != y</td>
  </tr>
</table>

<hr>

## Examples
<hr>

In [7]:
5 + 6

11

In [10]:
x = 10
y = 6
x + y

16

In [12]:
x * 5 + y

56

#### Print Statement

In [14]:
name = 'Mark'
print(name)

Mark

#### For loop

In [15]:
# for loop that prints 1 to 9 
for x in range(1, 10): 
    print(x)

1
2
3
4
5
6
7
8
9

In [16]:
# for loop that prints a random number 
import random 
random.randint(1,6)

5

In [17]:
# Print 11 random numbers 
import random 
for x in range(1, 11): 
    random_number = random.randint(1, 6)
    print(random_number)

4
6
3
5
6
1
2
4
1
2

In [23]:
# Simulate two dices using if statements 
import random 
import time

for x in range(1, 11): 
    time.sleep(1)    
    throw_1 = random.randint(1, 6)
    throw_2 = random.randint(1, 6)
    

    
    total = throw_1 + throw_2
    print(total)
    
    if total == 7: 
        print('Seven Thrown!')
    if total == 11: 
        print('Eleven Thrown!')
    if throw_1 == throw_2:
        print('Double Thrown!')

3
7
Seven Thrown!
7
Seven Thrown!
6
11
Eleven Thrown!
2
Double Thrown!
4
7
Seven Thrown!
12
Double Thrown!
3

<hr>

#### Data Structure
<hr>

In [25]:
# Example of a List 
numbers = [123, 34, 55, 321, 9]
print(numbers)

[123, 34, 55, 321, 9]

In [27]:
for i in numbers:
    print(i)

123
34
55
321
9

In [28]:
# Example of a dictionary 
data  = {1: 'John', 2: 'Patrick', 3: 'Mike', 4: 'Rich'}
print(data)

{1: 'John', 2: 'Patrick', 3: 'Mike', 4: 'Rich'}

In [37]:
for key, value in data.items():
    print(data[key])

John
Patrick
Mike
Rich